
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="alert alert-success" role="alert" style="margin-top:50px;margin-bottom:50px">
    <h4 class="my-2">Chi Tiết Sản Phẩm</h4>
</div>

<div class="card card_border border-primary-top p-4">
    <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mã SP</th>
                    <th scope="col">Tên SP</th>
                    <th scope="col">Giá SP</th>
                    <th scope="col">Trong lượng</th>
                    <th scope="col">Đóng gói</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Giảm</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>M01</td>
                    <td>Chè phúc thọ</td>
                    <td> 2000 k</td>
                    <td> 2 kg</td>
                    <td> túi hút chân không </td>
                    <td> null</td>
                    <td> 121412</td>
                    <td> 2% </td>
                    <td> 2220 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="justify-content-lg-end">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">Sửa</button>
            <button type="button" class="btn btn-outline-danger">Xóa</button>
        </div>
    </div>
</div>


