
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="/demo">
    <i class="fa fa-th"></i>
    <span>Sản phẩm <i class="lnr lnr-chevron-right"></i></span>
</a>