
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chart">
    <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
            <div class="card text-center card_border">
                <div class="card-header chart-grid__header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <!-- bar chart -->
                    <div id="container">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="barchart" style="display: block; height: 364px; width: 728px;" width="910" height="455" class="chartjs-render-monitor"></canvas>
                    </div>
                    <!-- //bar chart -->
                </div>
                <div class="card-footer text-muted chart-grid__footer">
                    Updated 2 hours ago
                </div>
            </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
            <div class="card text-center card_border">
                <div class="card-header chart-grid__header">
                    Line Chart
                </div>
                <div class="card-body">
                    <!-- line chart -->
                    <div id="container">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="linechart" width="910" height="455" class="chartjs-render-monitor" style="display: block; height: 364px; width: 728px;"></canvas>
                    </div>
                    <!-- //line chart -->
                </div>
                <div class="card-footer text-muted chart-grid__footer">
                    Updated just now
                </div>
            </div>
        </div>
    </div>
</div>

